# API Configuration
# URL del backend Flask
VITE_API_URL=http://localhost:5000/api

# Environment
VITE_NODE_ENV=development

# OpenWeather
VITE_OPENWEATHER_API_KEY=tu_api_key_openweather
VITE_OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
VITE_OPENWEATHER_CITY=Madrid,ES
